@import "tailwindcss";

@theme {
  --font-serif-custom: 'Georgia', serif;
}

body {
  background-color: #F9F8F6;
  color: #1A1A1A;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
}

html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
